<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Live Tracking{% endblock %} - Live Tracking</title>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/livetracking/icon/master/livetracking_icon_multi_size.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
{% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container">

{% block body %}{% endblock %}

{% include 'footer.html' %}

</div> <!-- // container -->

{% block javascripts %}{% endblock %}

</body>
</html>